@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
body{
@apply  bg-gradient-to-r to-lightest-navy from-navy text-slate text-xl relative;
font-family: "Calibre",sans-serif;
-webkit-font-smoothing: antialiased;

}
.navbar-item{
    @apply p-2.5 cursor-pointer inline-block hover:text-green text-light-slate transition-colors;
}
.router-link-active, .router-link-exact-active {
    @apply text-green 
} 
.btn-primary {
    @apply  bg-transparent text-green border border-green rounded-md hover:bg-green-tint active:bg-green-tint transition-colors;
}
.btn-sm{
    @apply text-xs px-4 py-3
}
.btn-lg {
    @apply text-sm px-7 py-5 
}
.vertical-mode {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.section{
   @apply max-w-[1000px] mx-auto;
}
.tab {
   @apply text-sm px-5 py-4 cursor-pointer hover:bg-light-navy hover:text-green  transition-all border-l border-lightest-navy ;
}
.tab.--active{
    @apply border-green  !important;
}

.list-item {
   @apply text-base relative pl-6 before:left-0 before:text-green  before:content-['▹'] before:absolute;
}
.input {
    @apply block w-full py-2 px-4 rounded-md text-lg text-navy
}
.label {
   @apply inline-block mb-2 capitalize
}
/*fade transition*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.rotate-enter-active,
.rotate-leave-active {
  transition: all 0.4s;
}
.rotate-enter-from,
.rotate-leave-to {
  opacity: 0;
  transform: rotate3d(1, 1, 1, 15deg);
}