@tailwind base;
@tailwind components;
@tailwind utilities;

body{
@apply bg-navy text-slate text-xl relative;
font-family: "Calibre",sans-serif;

}
.navbar-item{
    @apply p-2.5 cursor-pointer inline-block hover:text-green text-light-slate transition-colors;
}
.btn-primary {
    @apply  bg-transparent text-green border border-green rounded-md hover:bg-green-tint active:bg-green-tint transition-colors;
}
.btn-sm{
    @apply text-xs px-4 py-3
}
.btn-lg {
    @apply text-sm px-7 py-5 
}
.vertical-mode {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.section{
   @apply max-w-[1000px] mx-auto;
}
.tab {
   @apply text-sm px-5 py-4 cursor-pointer hover:bg-light-navy hover:text-green  transition-all border-l border-lightest-navy ;
}
.tab.--active{
    @apply border-green  !important;
}


/*fade transition*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}